# Ignore virtual environment files
venv/
myenv/

# Ignore database files
*.sqlite3
db.sqlite3

# Ignore system and IDE files
__pycache__/
*.pyc
*.pyo
.DS_Store
.idea/
*.vscode/

# Ignore local settings
*.env

# Ignore media and static files
media/
static/

# Ignore log files
*.log

# Ignore configuration files
*.ini
*.cfg
